$standard-font-size: 1.15em;



body {
	height: 100%;
	#app {
		height: 100%;
		.page-container {
			height: 100%;
		}
	}
}
h1 {
	font-size: $standard-font-size * 3;
	line-height: $standard-font-size;
}
h2 {
	font-size: $standard-font-size * 2;
	line-height: $standard-font-size;
}
h3 {
	font-size: $standard-font-size * 1.5;
	line-height: $standard-font-size;
}

//Icons
// .md-icon {
	
// }
.material-icons {
	display: inline-flex;

}