@import "@/assets/sass/variables.scss";

//****************************************** Main Data **************************************//
.main-content {
  line-height: 1.5;
  height: 100%;
  .page-container {
    .main-container {
      min-height: calc(100vh - 150px);
    }
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.dx-widget {
  font-family: 'Open Sans', sans-serif;
}
.block {
	padding: 0px 20px;
  margin-top: 15px;
}
.content-block {
  padding: 0px 30px;
  margin-top: 15px;

  .screen-x-small & {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.small-block {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}


.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.cssClasses{
  height: 100%;
}
.divider {
  border: 2px solid rgba(0, 31, 44, 0.2);
  margin: 30px 0px;
}

//****************************************** Buttons **************************************//
.dx-button {
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
.dx-button.dx-button-danger {
  background-color: $danger-button;
  &:hover {
    background-color: darken($danger-button, 10%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
.dx-button.dx-button-success{
  background-color: $success-button;
  &:hover {
    background-color: darken($success-button, 10%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  &.dx-state-focused {
    background-color: rgb(2, 172, 202);
  }
}
.dx-button.dx-button-warning {
  background-color: $warning-button;
  &:hover {
    background-color: darken($warning-button, 10%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
.dx-button-datacom {
  background-color: $datcom-button;
  color: white;
  &:hover {
    background-color: darken($datcom-button, 10%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
}
.dx-button-gray {
  background: rgb(209, 209, 209);
  &:hover {
    background-color: darken(rgb(209, 209, 209), 10%);
  }
}

.dx-button-pos {
  background-color: $pos-button;
  height: 60px;
  color: white;
  &:hover {
    background-color: darken($pos-button, 10%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

}
.dx-button-pos-tender {
  background-color: $pos-button;
  width: 100%;
  height: 60px;
  color: white;
  &:hover {
    background-color: darken($pos-button, 10%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
.dx-button-gradient {
  background-color: $datcom-gradient;
}
.dx-button.dx-state-focused {
  background-color: rgb(2, 172, 202);
}
//Also "normal" and "default" types

//****************************************** Drop Down Button **************************************//

//dx-button Split
// .dx-buttongroup-item.dx-buttongroup-last-item{
//   .dx-button-content{
//     border-left: 1px solid rgba(0, 0, 0, 0.2);
//   }
// }
.dx-dropdownbutton-toggle{
  justify-content: center;
  min-width: 30px;
  max-width: 50px;
}
.dx-list-item {
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
.dx-menu-item {
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

//****************************************** Drawer Menu **************************************//
.side-navigation-menu .menu-container .dx-treeview .dx-treeview-node[aria-level="1"] {
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
}
.menu-container {
  .dx-widget {
    .dx-scrollable {
      .dx-scrollable-wrapper {
        .dx-scrollable-container {
          .dx-scrollable-content {
            ul.dx-treeview-node-container {
              li.dx-treeview-node {
                &.dx-state-selected {
                  .dx-item {
                    .dx-item-content {
                      .dx-icon {
                        color: $base-accent;
                      }
                    }
                  }
                  &:hover {
                    .dx-item {
                      .dx-item-content {
                        .dx-icon {
                          color: $base-accent;
                        }
                      }
                    }
                  }
                }
                &:hover {
                  .dx-item {
                    .dx-item-content {
                      .dx-icon {
                        color: rgb(0, 0, 0);
                      }
                    }
                  }
								}
								
                .dx-item {
                  &.dx-state-hover {
                    background: rgb(182, 182, 182);
                    .dx-item-content {
											padding: 0px 2px;
                      color: rgb(49, 48, 48);
                    }
                  }
                  .dx-item-content {
                    color: white;
                    .dx-icon {
                      color: white;
                    }
                  }
								}
								ul.dx-treeview-node-container {
									li.dx-treeview-node {
										.dx-item {
											.dx-item-content {
												padding: 0px 30px;
												.dx-icon {
													color: white;
												}	
											}
											&.dx-state-hover {
												.dx-item-content {
													padding: 0px 30px;
													.dx-icon {
														color: rgb(49, 48, 48);
													}
												}
											}
										}
									}
								}
							}
							.dx-treeview-node[aria-level="2"] {
								.dx-treeview-item {
									.dx-treeview-item-content {
										padding: 0px 30px;
										font-weight: 500;
										font-size: $base-font-size*.7;
									}
								}
							}
							.dx-treeview-toggle-item-visibility {
								color: white;
							}
            }
          }
        }
      }
    }
  }
}
//****************************************** Navigation, Footer, etc Layout **************************************//
.layout-body {
  flex: 1;
  height: 100%;
  // .dx-drawer-wrapper {
  //   .dx-drawer-content {
  //     .with-footer {
  //       .dx-scrollable-wrapper {
  //         .dx-scrollable-container {
  //           .dx-scrollable-content {
  //             display: block;
  //             align-items: flex-end;
  //             .dx-scrollview-content {
  //               background: rgba(192, 210, 216, 0.6);
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

// *************************************** Individual Input Fields *****************************************//
.dx-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	.dx-field-label {
    color: rgb(65, 64, 64);
		padding-left: 0px;
		width: 100%;
		font-size: 12px;
		padding-bottom: 0px;
	}
	.dx-field-value {
    min-height: 40px;
		width: 80%;
		padding: 0px 10px;
  }
  .dx-field-value-static {
    min-height: 40px;
		width: 80%;
		padding: 10px;
	}
}
.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
	width: 100%;
}
.dx-rtl .dx-texteditor.dx-editor-filled.dx-show-clear-button .dx-texteditor-input,
.dx-rtl .dx-texteditor.dx-editor-outlined.dx-show-clear-button .dx-texteditor-input,
.dx-rtl.dx-texteditor.dx-editor-filled.dx-show-clear-button .dx-texteditor-input,
.dx-rtl.dx-texteditor.dx-editor-outlined.dx-show-clear-button .dx-texteditor-input,
.dx-texteditor.dx-editor-filled .dx-placeholder:before,
.dx-texteditor.dx-editor-filled .dx-texteditor-input,
.dx-texteditor.dx-editor-outlined .dx-placeholder:before,
.dx-texteditor.dx-editor-outlined .dx-texteditor-input {
  padding: 0px 12px;
}
//****************************************** Input Forms **************************************//
.dx-field {
  margin-bottom: 0px;
  .dx-field-label {
    padding: 5px;
  }
  .dx-field-value-static {
    padding: 5px;
  }
}
.dx-texteditor {
  .dx-texteditor-container {
    .dx-texteditor-input-container {
      .dx-texteditor-input {
        background: rgba(255, 255, 255, 1);
        padding-bottom: 0px;
      }
      .dx-placeholder {
        font-size: $base-font-size*.8;
      } 
    }
  }
}
.dx-editor-outlined {
  border: 1px solid black;
  .dx-texteditor-container {
    .dx-texteditor-input-container {
      .dx-texteditor-input {
        padding: 5px 10px;
      }
    }
  }
}
.dx-state-disabled.dx-widget {
  opacity: .7;
}
.dx-texteditor.dx-editor-filled {
  background-color: rgb(31, 255, 31);
}
//****************************************** Display Only Fieldset Fields **************************************//
.form {
  
  .dx-fieldset {
    margin-left: 20px;
    margin-right: 20px;

    .vertical{
      display: flex;
      flex-direction: column;
      
      .dx-field-label {
        width: 100%;
        font-size: 12px;
        padding-bottom: 1px;
      }
      .dx-field-value-static {
        width: 100%;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      }
    }
  }
}

//****************************************** Accordion **************************************//

.dx-accordion {
  .dx-accordion-wrapper {
    .dx-accordion-item {
      .dx-accordion-item-title {
        background: saturate($base-header-color, 100%);
      }
    }
  }
}

//****************************************** Tabs **************************************//


// .companyTabs {
// 	.dx-tabpanel-tabs {
//     .dx-widget {
//       .dx-tabs-wrapper {
//         .dx-item {
//           .dx-item-content {
//             .dx-tab-text {
//               display: flex;
//               i {
//                 margin-right: 10px;
//               }
              
//             }
//           }
//         }
//       }
//     }
// 	}
// }
.dx-tabpanel-tabs {
  .dx-tabs {
    margin-bottom: 15px;
  }
}
#sub-navbar {
	.dx-tabs-wrapper {
		.dx-tab {
			padding: 10px 10px 0px 10px;
			&.dx-tab-selected::before {
				position: absolute;
				bottom: 0;
				height: 0px;
				left: 0;
				right: 0;
				background-color: #ff5722;
			}
		}
	}
}

  
//****************************************** Validation & Error Messages **************************************/
.dx-invalid-message > .dx-overlay-content {
  color: rgb(226, 1, 1);
}
.dx-validationsummary-item  {
  color: rgb(226, 1, 1);
}
.dx-invalid.dx-texteditor.dx-state-active:before,
.dx-invalid.dx-texteditor.dx-state-focused:before {
  border-top: 1px solid rgb(226, 1, 1);
  border-bottom: 1px solid rgb(226, 1, 1);
}

.dx-invalid.dx-texteditor.dx-show-invalid-badge .dx-texteditor-input-container:after{
  background: rgb(226, 1, 1);
}
#summary {
  margin-bottom: 40px;
}


//****************************************** DX Popup Content **************************************
.dx-popup-content {
  padding: 0px;
  
}
// .dx-overlay-content.dx-popup-normal.dx-resizeable.dx-popup-inherit-height {
//   z-index: 20000;
// }

//****************************************** DX ButtonGroup **************************************
.payment-type-buttons.dx-buttongroup {
	.dx-collection {		
		.dx-buttongroup-item {
      height: 75px;
      width: 175px;
			.dx-button-content {
				text-align: center;
			}
    }
    .dx-buttongroup-item.dx-item-selected {
      background: lighten($color: $datcom-button, $amount: 40);
    }
  }
  
}

.dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0px 20px;
}
