@import "@/assets/sass/variables.scss";

* {
  box-sizing: border-box;
}
html,
body {
	margin: 0px;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	#app {
		font-family: 'Open Sans Regular', sans-serif;
		font-size: 1.15em;
		line-height: 1.75em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #2c3e50;
		min-height: 100%;
		height: 100%;
		width: 100%;
		text-align: left;
		.page-container {
			min-height: 100%;
			height: 100%;
		}
	}
}
#root {
  min-height: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: $base-font-size * 3;
	line-height: $base-font-size;
}
h2 {
	font-size: $base-font-size * 2;
	line-height: $base-font-size;
}
h3 {
	font-size: $base-font-size * 1.5;
	line-height: $base-font-size;
}
p {
	font-size: $base-font-size;
	font-family: 'Open Sans', sans-serif;
}
ul {
	li {
		font-size: $base-font-size;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
	}
}
.headline {
	display: block;
	font-size: $base-font-size*1.4;
	font-family: 'Montserrat', sans-serif;
}
.headline-1 {
	display: block;
	font-size: $base-font-size*2;
	font-family: 'Montserrat', sans-serif;
}
.headline-2 {
	display: block;
	font-size: $base-font-size*1.8;
	font-family: 'Montserrat', sans-serif;
}
.headline-3 {
	display: block;
	font-size: $base-font-size*1.6;
	font-family: 'Montserrat', sans-serif;
}
.headline-4 {
	display: block;
	font-size: $base-font-size*1.4;
	font-family: 'Montserrat', sans-serif;
}
.headline-5 {
	display: block;
	font-size: $base-font-size*1.2;
	font-family: 'Montserrat', sans-serif;
}
.headline-6 {
	display: block;
	font-size: $base-font-size*1;
	font-family: 'Montserrat', sans-serif;
}
.title {
	display: block;
	width: 100%;
	font-size: $base-font-size*1.7;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;

}
.subtitle {
	display: block;
	width: 100%;
	font-size: $base-font-size*.7;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}
.display-1 {
	display: block;
	font-size: $base-font-size*2;
	font-family: 'Open Sans', sans-serif;
	
}
fieldset {
	border: 2px solid rgb(2, 103, 143);
	border-radius: 5px;

}
legend {
	margin-left: 10px;
	padding-left: 10px;
}
.disabled {
	opacity: 0.5;
}

// *************************************** Icons *****************************************//

// .md-icon {
	
// }
// .mdi {
// 	color: $icon-base-color;
// }
.material-icons {
	display: inline-flex;

}
// *************************************** Material Design *****************************************//
//MD Cards
.v-card {
	border: 1px solid rgba(3, 3, 3, 0.2);
	background: white;
	border-radius: 5px;
	.v-card__title{
		border-bottom: 1px solid rgba(3, 3, 3, 0.07);
		padding-bottom: 10px;
		background: $base-header-color
	}
	.spacing {
		justify-content: space-evenly;
	}
}
.md-menu-content{
	background: white;
}
//MD List
.md-list-item-content{
	display:flex;
	justify-content: flex-start;
}
.business-barcode{
	font-family: 'Libre Barcode 128', cursive;
	font-size: 40px;
}
.inventory-barcode{
	font-family: 'Libre Barcode 39', cursive;
	font-size: 40px;
}

//Dashboard
.dashboard {
	height: 100%;
	background: rgba(7, 7, 7, 0.89);
}
// *************************************** Error Field *****************************************//

.errorField {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 95%;
	font-size: $base-font-size*2;
	font-family: OpenSans Light;
	background: rgba(187, 187, 187, 0.15);
	text-align:center;
	border: 2px solid rgba(14, 13, 13, 0.3);
	margin: 15px;
	box-shadow: 5px 5px 5px rgba(199, 199, 199, 0.8);
}

// *************************************** Rows and Columns *****************************************//
.row {
	display: flex;
	flex-direction: row;
	width:100%;
  margin-right: 0px;
  margin-left: 0px;
	.col-100p {
    width: 100%;
		display: flex;
		flex-direction: row;
	}
	.col-95p {
    width: 95%;
		display: flex;
		flex-direction: column;
	}
	.col-90p {
    width: 90%;
		display: flex;
		flex-direction: column;
	}
	.col-75p {
    width: 75%;
		display: flex;
		flex-direction: column;
	}
	.col-50p {
    width: 50%;
		display: flex;
		flex-direction: column;
	}
	.col-40p {
    width: 40%;
		display: flex;
		flex-direction: column;
	}
	.col-33p {
    width: 33%;
		display: flex;
		flex-direction: column;
	}
	.col-25p {
    width: 25%;
		display: flex;
		flex-direction: column;
	}
	.col-20p {
    width: 20%;
		display: flex;
		flex-direction: column;
	}
	.col-10p {
    width: 10%;
		display: flex;
		flex-direction: column;
	}
	.col-5p{
    width: 5%;
		display: flex;
		flex-direction: column;
	}
}


//****************************************** Custom Labels **************************************

.newrow {
	background-color: lightgray;
	width: 100%;
	display: block;
	.newcol {
		display: block;
		background-color: gray;

	}
}

// *************************************** VueJs Switch *****************************************//

.vue-js-switch {
	width: 85px;
}

// *************************************** Custom Elements *****************************************//

.delete::after {
	display: flex;
	font-family: "FontAwesome";
	content: '\f057';
	align-items: center;
	padding-right: 10px;
}



// *************************************** Vuetify Corrections *****************************************//

.v-application a {
	color: blue;
}
.v-application ul {
	padding-left: 0px;
}
::before {
	vertical-align: initial;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
	background-color: rgb(97, 97, 97);
	color: white;
}
.data-list {
	height: 30px;
	min-height: 30px;
}
.v-stepper__label {
	margin-left: 7px;
}
//v-stepper Format
.v-stepper  {
	.v-stepper__header {
		.v-stepper__step--active{
			.v-stepper__step__step {
				color: rgb(2, 2, 2);
			}
		}
		.v-stepper__step--inactive{
			.v-stepper__step__step {
				background: rgb(18, 243, 243);
				color: rgb(2, 2, 2);
			}
		}
	}
}
.theme--light.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step {
	background: darken($color: $datcom-button, $amount: 20);
	color: rgb(255, 255, 255);
}
.v-stepper .v-stepper__header .v-stepper__step--active .v-stepper__step__step {
	background: lighten($color: $datcom-button, $amount: 40);
	color: #020202;
}
.theme--light.v-stepper .v-stepper__step__step, .theme--light.v-stepper .v-stepper__step__step .v-icon {
	color: rgb(0, 195, 33);
	font-weight: 600;
}

//Input Fields
.v-input {
	.v-input__control {
		.v-input__slot {
			.v-text-field__slot {
				fieldset {
					legend {
						margin: 0px 20px;
						padding: 0px 20px;
					}
				}
				label {
					padding: 0px 10px;
				}
			}
		}
	}
}
//Outlined Input Field
.v-text-field--outlined .v-label--active {
	transform: translateX(-5px) translateY(-30px) scale(.75)
}
.v-text-field--outlined.v-input--is-focused fieldset {
	border: 2px solid rgb(2, 128, 200);
}
.v-expansion-panel-header {
	justify-content: space-between;
}
.v-messages__message {
	color: red;
}

// *************************************** Datacom List *****************************************//
.d-list {
	min-height: 20px;
	// background: lightsalmon;
	padding: 4px 0px;
	width: 100%;
	.d-list-item {
		font-size: $base-font-size;
	}
}
.field {
	width: 100%;
	.label {
		font-size: $base-font-size*0.8;
		color: rgba(44, 44, 44, 0.8);
		font-weight: 400;
		width: 100%;
		// background: lightgray;
	}
	.content {
		display: flex;
		align-items: center;
		min-height: 45px;
		font-family: "Open Sans", sans-serif;
		padding: 5px 10px;
		font-weight: 100;
		width: 100%;
		// background: lightcyan;
	}
}
nav {
	display: flex;
	min-height: 75px;

	.header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 30px 20px 0px 20px;
		// background: lightblue;
		width: 90%;
		flex-grow: 1;
		font-size: $base-font-size*2;
		font-family: 'Montserrat', sans-serif;
		font-weight: 200;
		color:gray;
	}
	.button	{
		text-align: right;
	}
}

.dropzone {
	min-height: 200px;
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
	outline: 2px dashed grey;
	outline-offset: -10px;
	width: 90%;
	background: lightcyan;
	color: dimgray;
	&:hover {
		background: lightblue;
	}
	& .call-to-action {
		font-size: 2rem;
		text-align: center;
		padding-top: 50px;
	}
}
.input-field {
	opacity: 0;
	width: 100%;
	height: 200px;
	position: absolute;
	left: 0px;
	cursor: pointer;
}
.file-name {
	width: 100vw;
}

.message {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0px 15px;
	border-radius: 7px;
	min-height: 50px;
	min-width: 50px;
	border-width: 0px 0px 0px 20px;
	&.success {
		border-color: rgb(68, 235, 3);
		background: rgb(197, 253, 173);
	}
	&.danger {
		border-color: rgb(243, 6, 6);
		background: rgb(253, 177, 177);
	}
	&.accent {
		border-color: rgb(255, 72, 0);
		background: rgb(255, 176, 145);
	}
	&.warning {
		border-color: rgb(255, 200, 0);
		background: rgb(250, 231, 161);
	}
	&.info {
		border-color: rgb(0, 131, 253);
		background: rgb(143, 194, 241);
	}
	.message-text {
		font-size: $base-font-size * 1.05;
	}
}
