// Titles and Subtitles
$title-size: 1.8em;
$title-family: 'Montserrat', sans-serif;
$subtitle-size: 1.3em;
$subtitle-family: 'Montserrat', sans-serif;

// Headers and Subheaders
$header-size: 1.25em;
$header-family: 'Open Sans', sans-serif;
$subheader-size: 1.15em;
$subheader-family: 'Open Sans', sans-serif;

//Fonts
$font-size: 1.15em;
$font-family: 'Roboto', sans-serif;
$line-height: 1.15em;

// Light Colors
$light: #eeeeee;
$accent-light: #7c2f00;
$accent-lighter: #b85212;


$primary-dark: #76e6ff;
$primary-darker: #11b7dd;

$secondary-dark: rgb(255, 232, 149);
$secondary-darker: rgb(221, 191, 85);

$accent-dark: #ffc19a;
$accent-darker: #eb8f56;

// Dark Colors
$dark: #031a25;
$primary-light: #003149;
$primary-lighter: #007d99;

$secondary-light: rgb(107, 88, 19);
$secondary-lighter: #9E852C;

// Greys
$grey: #97afb9;
$grey-dark: #6c828b;
$grey-light: #cedce2;
$black: #080808;
$white: #ffffff;

// Others
$success: green;
$danger: red;
$warning: yellow;
$info: teal;

//Positioning
$content-vh: calc(100vh - 155px);